---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import Portfolio from "../components/Portfolio.jsx";
import Portfolio2 from "../components/ui/Portfolio2.astro";
import Benefits from "../components/Benefits.astro";

const links = [
	// { text: "Inicio", href: "#" },
	{ text: "Beneficios", href: "#beneficios" },
	{ text: "Servicios", href: "#servicios" },
	{ text: "Testimonios", href: "#testimonios" },
	{ text: "Contacto", href: "#contacto" },
];
---

<BaseLayout title="Ftn - Diseño y Desarrollo">
	<Header links={links} />
	<main class="pt-16">
		<Hero />
		<Portfolio2/>
		<Benefits/>
		<!-- <Services /> -->
		<!-- <Portfolio client:idle /> -->
		<Contact />
	</main>
	<Footer />
</BaseLayout>
