---
import Section from "./scaffolding/Section.astro"
import Card from "./ui/Card.astro"
import Container from "./ui/Container.astro"
import TextGradient from "./ui/TextGradient.astro"

import Title from "./ui/Title.astro"

const sectionId = "beneficios"

---

<Section id={sectionId} class="pt-24">   
    <Container>
        
        <Title
            class="py-12"
            alignment="center"
            iconName="box">
            Todo lo que necesitas <br>
            <TextGradient>
                en un solo lugar
            </TextGradient>
        </Title>

        <div class="grid grid-cols-1 md:grid-cols-2 grid-row-3 md:grid-row-2 gap-6">
            <Card 
                class=""    
                iconName="chat">
                <span slot="heading">
                    Atención cercana y personalizada
                </span>
                <span slot="texts">
                    Entendemos tus necesidades y te acompañamos para lograr resultados que potencien tu negocio.
                </span>
            </Card>
            <Card 
                class=""    
                iconName="rocket">
                <span slot="heading">
                    Enfoque en la conversión
                </span>
                <span slot="texts">
                    Desarrollamos páginas que no solo se destacan, sino que generan conversiones reales para impulsar tu negocio.
                </span>
            </Card>
            <Card 
                class="md:col-span-2 row-start-2 md:w-4/5 md:mx-auto"    
                iconName="collaboration">
                <span slot="heading">
                    Compromiso con la excelencia y soporte continuo
                </span>
                <span slot="texts">
                    Estamos comprometidos a brindarte un servicio excepcional desde el inicio hasta el final del proyecto y más allá. Ofrecemos soporte técnico continuo y estamos siempre disponibles para responder a tus preguntas y resolver cualquier problema que pueda surgir.
                </span>
            </Card>
        </div>
       
    </Container>
    
    
</Section>