---
import Section from "./scaffolding/Section.astro"
import Card from "./ui/Card.astro"
import Container from "./ui/Container.astro"
import TextGradient from "./ui/TextGradient.astro"

import Title from "./ui/Title.astro"

const sectionId = "beneficios"

---

<Section idName={sectionId} className="pt-24">   
    <Container>
        
        <Title
            class="py-12"
            alignment="center"
            iconName="box">
            Todo lo que necesitas <br>
            <TextGradient>
                en un solo lugar
            </TextGradient>
        </Title>

        <div class="grid grid-cols-1 md:grid-cols-2 grid-row-3 md:grid-row-2 gap-6">
            <Card 
                className=""    
                iconName="chat"
                title="Atención cercana y personalizada"
                description="Entendemos tus necesidades y te acompañamos para lograr resultados que potencien tu negocio."
            />
            <Card
                className=""    
                iconName="rocket"
                strokeClass=""
                title="Enfoque en la conversión"
                description="Desarrollamos páginas que no solo se destacan, sino que generan conversiones reales para impulsar tu negocio."
            />
            <Card
                className="md:col-span-2 row-start-2 md:w-4/5 md:mx-auto "    
                iconName="collaboration"
                title="Compromiso con la excelencia y soporte continuo "
                description="Estamos comprometidos a brindarte un servicio excepcional desde el inicio hasta el final del proyecto y más allá. Ofrecemos soporte técnico continuo y estamos siempre disponibles para responder a tus preguntas y resolver cualquier problema que pueda surgir."
            />
        </div>
       
    </Container>
    
    
</Section>