---
import SwitchTheme from "./scaffolding/SwitchTheme.astro";
import Container from "./ui/Container.astro";
import Icon from "./ui/Icon.astro";

interface Link {
    href: string;
    text: string;
}

const { links = [] }: { links?: Link[] } = Astro.props;
const headerId = "main-header";
const logoId = "main-logo"
---

<header id={headerId} class="pt-4 fixed w-full z-50 transition-all">
    <Container>
        <div class="ftn-nav-container">
            <a id={logoId} href="#" class="transition-all">
                <figure>
                    <Icon name="ftn" className="h-7 w-full text-white" />
                </figure>
            </a>
            <nav class="relative">
                <ul class="flex z-10 relative px-4">
                    {
                        links.map((link: Link) => (
                            <li>
                                <a
                                    href={link.href}
                                    class=" font-sharp_grotesk_light text-sm px-3 py-1 mx-1 block rounded-md transition duration-200 hover:bg-white/10"
                                >
                                    {link.text}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
            <div class="relative w-8 h-8">
                <SwitchTheme/>
            </div>
        </div>
    </Container>
</header>


<style>
    .ftn-nav-container{
        @apply flex justify-between items-center mx-auto;
        @apply transition-all ease-in-out duration-700;
        @apply w-full h-10 rounded-md;
    }
    .ftn-header-scrolling .ftn-nav-container{
        @apply bg-blue-950/90 backdrop-blur-sm;
        @apply w-[600px] py-2 px-2
    }
</style>

<script>
    type NullableElement = HTMLElement | null;

    const toggleHeaderStyles = (scrollPosition: number) => {
        const header = document.getElementById('main-header') as NullableElement;
        const logo = document.getElementById('main-logo') as NullableElement;
        const logoSecondary = document.getElementById('secondary-logo') as NullableElement;

        if (!header) return;
        const scrollingClass = 'ftn-header-scrolling';

        if (scrollPosition > 80) {
            header.classList.add(scrollingClass);
            // logo?.classList.add('invisible');
            // logoSecondary?.classList.remove('text-[0px]');
        } else {
        header.classList.remove(scrollingClass);
        // logo?.classList.remove('invisible');
        // logoSecondary?.classList.add('text-[0px]');
        }
    };

    // Función `throttle` para optimizar el evento `scroll`
    const throttle = (func: (...args: any[]) => void, limit: number) => {
    let lastCall = 0;
    return (...args: any[]) => {
        const now = Date.now();
        if (now - lastCall >= limit) {
            lastCall = now;
            func(...args);
        }
    };
    };

    // Solo en el navegador
    if (typeof window !== 'undefined') {
    const onScroll = throttle(() => {
        toggleHeaderStyles(window.scrollY);
    }, 100);

    window.addEventListener('scroll', onScroll);
}

</script>