---
import LineBR from "./ui/LineBR.astro";
import Button from "./ui/Button.astro";
---

<section class="py-12">
    <LineBR/>
    <div class=" ftn-container text-center">
        <h1 class=" font-sharp_grotesk_light text-sm">
            Agencia de diseño UX/UI y desarrollo web
        </h1>
        <h2 class=" font-sharp_grotesk_semibold25 text-5xl leading-snug py-10 ">
            Transformamos tus ideas en productos <span class=" bg-clip-text text-transparent bg-gradient-to-tl to-brand_primary-400 from-brand_tertiary-400 ">digitales únicos</span>
        </h2>
        <Button/>
    </div>
    
</section>