<section class="py-12">
    <!-- <div class="build-lines">
        <div class="build-line">
            <div class="build-line-mask">
                <div></div>
            </div>
        </div>
        <div class="build-line"></div>
    </div> -->
    <div class=" ftn-container text-center">
        <h1 class=" font-sharp_grotesk_light text-sm">
            Agencia de diseño UX/UI y desarrollo web
        </h1>
        <h2 class=" font-sharp_grotesk_semibold25 text-5xl leading-snug py-10 ">
            Transformamos tus ideas en productos <span class=" bg-clip-text text-transparent bg-gradient-to-tl to-brand_primary-400 from-brand_tertiary-400 ">digitales únicos</span>
        </h2>
        <button>Hablemos</button>
    </div>
    
</section>

<section class="">
    <div
        class="container mx-auto text-center bg-blue-600/80 rounded-lg shadow-lg p-10 backdrop-blur-lg"
    >
        <h2 class="text-4xl font-bold mb-4">
            Diseño Gráfico y Desarrollo de Software
        </h2>
        <p class="text-lg mb-8">
            Transformamos tus ideas en productos digitales únicos
        </p>
        <a
            href="#contacto"
            class="bg-white text-blue-600 px-6 py-3 rounded-full shadow-md hover:shadow-lg transition duration-200"
            >Contáctanos</a
        >
    </div>
</section>


<style>
    .build-line{
        @apply absolute top-0 border-r border-b border-r-red-300/10 border-b-green-300/10 rounded-br-md w-[300px] h-[250px]
    }
    .build-line-mask{
        mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
        mask-composite: exclude;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        padding: 0 1px 1px 0;
        border-radius: inherit;
    }
    .build-line-mask div{
        width: 500px;
    height: 500px;
    position: absolute;
    bottom: -100px;
    left: -100px;
    background: conic-gradient(rgba(109, 46, 255, 0), rgba(158, 122, 255, .3490196078) 6%, rgba(254, 139, 187, .6980392157) 10%, #ffbd7a 14.9%, rgba(109, 46, 255, 0) 15%);
    animation: build-line-rotate 15s linear infinite;
    }
    @keyframes build-line-rotate{
        60%, 100% {
            transform: translateZ(0) rotate(1turn);
        }
    }
</style>