---
import LineBR from "./ui/LineBR.astro";
---

<section class="py-12">
    <LineBR/>
    <div class=" ftn-container text-center">
        <h1 class=" font-sharp_grotesk_light text-sm">
            Agencia de diseño UX/UI y desarrollo web
        </h1>
        <h2 class=" font-sharp_grotesk_semibold25 text-5xl leading-snug py-10 ">
            Transformamos tus ideas en productos <span class=" bg-clip-text text-transparent bg-gradient-to-tl to-brand_primary-400 from-brand_tertiary-400 ">digitales únicos</span>
        </h2>
        <button>Hablemos</button>
    </div>
    
</section>

<section class="">
    <div
        class="container mx-auto text-center bg-blue-600/80 rounded-lg shadow-lg p-10 backdrop-blur-lg"
    >
        <h2 class="text-4xl font-bold mb-4">
            Diseño Gráfico y Desarrollo de Software
        </h2>
        <p class="text-lg mb-8">
            Transformamos tus ideas en productos digitales únicos
        </p>
        <a
            href="#contacto"
            class="bg-white text-blue-600 px-6 py-3 rounded-full shadow-md hover:shadow-lg transition duration-200"
            >Contáctanos</a
        >
    </div>
</section>