---
import LineBR from "./ui/LineBR.astro";
---

<section class="py-12">
    <LineBR/>
    <div class=" ftn-container text-center">
        <h1 class=" font-sharp_grotesk_light text-sm">
            Agencia de diseño UX/UI y desarrollo web
        </h1>
        <h2 class=" font-sharp_grotesk_semibold25 text-5xl leading-snug py-10 ">
            Transformamos tus ideas en productos <span class=" bg-clip-text text-transparent bg-gradient-to-tl to-[#aaf74d] from-[#2ce9ec] ">
                digitales únicos
            </span>
        </h2>

        <!-- Ancla -->
        <a href="#"
           class="
           inline-flex items-center justify-center px-6 py-4 rounded-full border border-solid border-white/10 transition-all ring-[12px] ring-white/5
           hover:scale-95 hover:ring-white/10
           bg-token_bg_btn_cta text-token_text_btn_cta
           hover:bg-token_bg_btn_cta_hover hover:text-token_text_btn_cta_hover
           ">
            Button CTA
        </a>
        
    </div>
    
</section>