---

import Section from "./scaffolding/Section.astro";
import Container from "./scaffolding/Container.astro";

import Line from "./ui/Line.astro";
import Button from "./ui/Button.astro";
import Heading from "./ui/Heading.astro";
import TextGradient from "./ui/TextGradient.astro";
import Texts from "./ui/Texts.astro";

---

<Section>
    <Line type="lineTL"/> 
    <Container className=" text-center">
        <Texts tag="small" class="uppercase">
            Agencia de diseño UX/UI y desarrollo web
        </Texts>
        <Heading tag="h1" class="py-12">
            Transformamos tus ideas en productos
            <TextGradient>
                digitales únicos
            </TextGradient>
        </Heading>

        <Button href="#contact">
            Hablemos!
        </Button>
    </Container>
</Section>
