---
import variables from '../styles/variables.css'; 
import styles from '../styles/main.css'; 

const { title } = Astro.props;
---

<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- applied styles -->
    <link rel="stylesheet" href={variables}>
    <link rel="stylesheet" href={styles}>
  </head>
  <body class="bg-blend-darken font-sharp_grotesk_book bg-token_bg_gradient text-token_text">
    <slot /> 
  </body>
</html>