---
const { title } = Astro.props;
---

<html lang="es" class=" scroll-smooth" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style is:global>
      @import "../styles/variables.css";
    </style>
  </head>
  <body class="bg-blend-darken font-sharp_grotesk_light bg-token_bg_gradient text-token_text">
    <slot /> 
  </body>
</html>