<div class="build-lines">
    <div class="build-line">
        <div class="build-line-mask">
            <div></div>
        </div>
    </div>
</div>

<style>
    .build-line{
        @apply absolute top-0 left-0;
        @apply w-[350px] h-[120px];
        @apply rounded-br-2xl;
        @apply border-r border-r-white/10;
        @apply border-b  border-b-white/10; 
    }
    .build-line-mask{
        @apply absolute top-0 left-0;
        @apply w-[calc(100%_+_1px)];
        @apply h-[calc(100%_+_1px)];
        @apply pt-0 pr-px pb-px pl-0;
        mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
        mask-composite: exclude; 
        border-radius: inherit;
    }
    .build-line-mask div{
        @apply absolute -bottom-28 -left-28;
        @apply w-[600px] h-[500px];
        background: conic-gradient(rgba(109, 46, 255, 0), 
                        var(--brand_blue_950) 6%, 
                        var(--brand_turquoise_500) 10%, 
                        var(--brand_green_500) 14.9%,
                        rgba(109, 46, 255, 0) 15%);
        animation: build-line-rotate 10s linear infinite;
    }
    @keyframes build-line-rotate{
        60%, 100% {
            transform: translateZ(0) rotate(1turn);
        }
    }
</style>