---
import Container from "../scaffolding/Container.astro"
import Section from "../scaffolding/Section.astro"
---

<Section class="">
    <Container class="flex gap-4">
        <div class="bg-white/10 rounded-2xl w-1/3 h-80">
            imagen 1
        </div>
        <div class="bg-white/10 rounded-2xl w-2/3 h-80">
            imagen 2
        </div>
        <div class="bg-white/10 rounded-2xl w-1/3 h-80">
            imagen 3
        </div>
    </Container>
</Section>