---

const { 
    classSection = "",
    classContainer = ""
 } = Astro.props;

---

<section class={`pt-6 pb-12 ${classSection}`}>
    <div class={`px-8 max-w-7xl mx-auto ${classContainer}`}>
        
        <slot/>
        
    </div>
</section>